/*
body {
  counter-reset: question;
}
h3 {
  counter-increment: question;
}
h3::before {
  content: counter(question) '. ';
}

h4 {
  counter-increment: questionpart;
}
h4::before {
  content: counter(questionpart, lower-alpha) '. ';
}
*/
